{{ partial "header.html" . }}

<div style="text-align: center;">
    <h2 style="text-align: center;">Atomic Posts</h2>
    <p>
In an effort to reduce friction in publishing, I'm giving myself permission to publish tiny blog posts
that may or may not become more full fledged, as long as they have a complete thought or useful snippet on their own.
Partially inspired by things like <a href="https://100daystooffload.com/">100 Days to Offload</a> and the <a href="https://github.com/jbranchaud/til/">TIL repo</a>.
    </p>
</div>

{{ partial "li.html" . }}

{{ partial "menu.html" . }}

{{ partial "footer.html" . }}
