<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }}</title>
  {{ $ilc := resources.Get "css/ilc.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $ilc.RelPermalink }}">
</head>
<body class="ilc-page">
  <main>
    <article>
      <header>
        <h1>{{ .Title }}</h1>
        <p><em><strong>{{ .Params.subtitle }}</strong></em></p>
      </header>

      {{/* Pretty ToC like Notion’s (only shows if headings exist) */}}
      {{ $toc := .TableOfContents }}
      {{ if and (eq .Params.toc true) ($toc) }}
      <aside class="ilc-toc-wrapper">
        <!-- <div class="ilc-toc-title">Table of contents</div> -->
        {{ $toc | safeHTML }}
      </aside>
      {{ end }}

      <section class="ilc-content">
        {{- with .Content -}}
          {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor" style="font-size: 70%"> 🔗&#xFE0E;</a> ${3}` | safeHTML }}
        {{- end -}}
      </section>
    </article>
  </main>
</body>
</html>
