{{ partial "header.html" . }}

<div class="container-fluid">
{{ partial "hero.html" . }}
</div>

<div class="container">
{{/*  {{ partial "avatar.html" . }}

{{ partial "info.html" . }}  */}}

{{/*  {{ partial "main_menu.html" . }}  */}}

{{/*  Curated articles  */}}
<br />
<!-- <h3><em>Favorites from my <a href="https://joelhooks.com/digital-garden">Digital Garden</a>...</em></h3> -->
<h3><em>Featured articles from my <a href="/blog/">Digital Garden ({{len (where .Site.RegularPages "Section" "==" "blog") }} total)</a>...</em></h3>
<ul style="padding-top: 10px;">
    {{ range where .Site.RegularPages "Params.curated" true }}
    <li class="list-entry">
      <a class="list-entry-link" href="{{ .Permalink }}">{{ .Title }}</a>
      {{/*  <p class="meta">
        {{ if not .Date.IsZero }} {{ .Date.Format .Site.Params.dateformat | upper }}&comma; {{ .ReadingTime }} minute read{{end}}
        <span class="category">
        {{ if isset .Params "categories" }}
        {{ $total := len .Params.categories }}
        {{ if gt $total 0 }}
        —
        {{ $total := sub $total 1 }}
        {{ range $i, $cat := sort .Params.categories }}
        <a class="category" href="{{ "/categories/" | relURL }}{{ $cat | humanize | urlize }}">{{ $cat | upper }}</a>{{ if lt $i $total }}, {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        </span>
      </p>  */}}
      <p class="excerpt">
      {{ .Description }}
      </p>
    </li>
    {{ end }}
</ul>
<a href="/blog/">Read all posts ➡️</a>
</br />
</br />
</br />

{{ partial "email-form.html" . }}

{{ partial "social.html" . }}

{{ partial "footer.html" . }}
