<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/kevin-quinn"
    method="post" target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/kevin-quinn', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p><label for="tlemail"><em>
                Follow for infrequent articles on tech & attempting to live a more meaningful life.
            </em></label></p>
    <p><input type="text" style="width:300px" name="email" id="tlemail" placeholder="youremail@gmail.com" /></p>
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Add to my inbox" />
    <p style="font-size: 10px;margin-top:2%;">
        <a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a>
    </p>
</form>