<div class="container">
  <section id="content-pane" class="row">
    <div class="col-md-12 text-center content">

      <h2 id="404---page-not-found">404 - Page Not Found</h2>
      <p><img src="/img/puma-puff-cropped.png" alt="awesome cat flying"></p>
      <p>If you came here from an actual link, could you please let me know so I can fix it?
        You can reach me through my proxy email address at <a href="mailto:kevinquinnfun@notxss.anonaddy.com"
          title="kevinquinnfun@notxss.anonaddy.com">
          kevinquinnfun@notxss.anonaddy.com</a>
        ,
        or <a href="https://twitter.com/maybekq" title="Twitter DMs 🐦" target="_blank" rel="nofollow noopener">
          Twitter DMs 🐦</a>
        .</p>
      <p><a href="https://kevinquinn.fun" title="⬅ back to safety" target="_blank" rel="nofollow noopener">
          ⬅ back to safety</a>
      </p>
    </div>
  </section>
</div>