{{ partial "header.html" . }}

{{ partial "li.html" . }}

{{ partial "menu.html" . }}

<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/kevin-quinn" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/kevin-quinn', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail"><em>Enter your email to follow along with my writing!</em></label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>

{{ partial "footer.html" . }}
